{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign arrival_products_count = 0
  assign date_interval = section.settings.time_to_show | times: 30 | times: 24 | times: 60
  assign date_now = 'now' | date: '%s'

  for product in section.settings.collection.products
    assign date_published = product.created_at | date: '%s'
    assign date_difference = date_now | minus: date_published

    if date_difference > date_interval
      continue
    endif

    assign arrival_products_count = arrival_products_count | plus: 1
  endfor

  assign products_to_display = arrival_products_count

  if arrival_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
<div class="collection page-width{% if section.settings.swipe_on_mobile == true and arrival_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
  <div class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if arrival_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
    <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>

    {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
      <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.new_arrivals.view_all' | t }}</a>
    {%- endif -%}
  </div>

  {%- if arrival_products_count != 0 -%}
  <slider-component class="slider-mobile-gutter">
    <ul class="grid grid--2-col product-grid{% if products_to_display == 5 %} grid--2-col-tablet grid--5-col-desktop{% endif %}{% if products_to_display == 4 %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if arrival_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or arrival_products_count < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and arrival_products_count > section.settings.products_to_show %} negative-margin--small{% endif %}" role="list">
        {%- assign products_count = 0 -%}
        {%- for product in section.settings.collection.products reversed -%}
          {%- liquid
              assign date_published = product.created_at | date: '%s'
              assign date_difference = date_now | minus: date_published

              if date_difference > date_interval
                continue
              endif

              assign products_count = products_count | plus: 1

              if products_count > section.settings.products_to_show
                break
              endif
          -%}
          <li class="grid__item{% if arrival_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
            {% render 'product-card',
              product_card_product: product,
              media_size: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              add_image_padding: section.settings.add_image_padding,
              show_vendor: section.settings.show_vendor,
              show_image_outline: section.settings.show_image_outline,
              show_rating: section.settings.show_rating
            %}
          </li>
        {%- endfor -%}
    </ul>
    {%- if arrival_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
      <div class="slider-buttons no-js-hidden{% if arrival_products_count < 4 %} medium-hide{% endif %}{% if arrival_products_count < 3 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>

  {%- if section.settings.show_view_all and more_in_collection -%}
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      <a href="{{ section.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.new_arrivals.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.new_arrivals.view_all' | t }}
      </a>
    </div>
  {%- endif -%}

  {%- else -%}
    Coming soon...
  {%- endif -%}
</div>

{% stylesheet %}
  @media screen and (min-width: 990px) {
    .grid--5-col-desktop .grid__item {
      width: calc(20% - 1rem * 3 / 4) !important;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.new-arrivals.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "New arrivals collection",
      "label": "t:sections.new-arrivals.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.new-arrivals.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.new-arrivals.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "time_to_show",
      "min": 1,
      "max": 90,
      "step": 1,
      "default": 10,
      "label": "t:sections.new-arrivals.settings.time_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.new-arrivals.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.new-arrivals.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.new-arrivals.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.new-arrivals.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.new-arrivals.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.new-arrivals.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.new-arrivals.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.new-arrivals.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.new-arrivals.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.new-arrivals.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.new-arrivals.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.new-arrivals.settings.show_rating.label",
      "info": "t:sections.new-arrivals.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.new-arrivals.presets.name"
    }
  ]
}
{% endschema %}